aiohttp>=2.0,<4.0
algoliasearch>=2.0,<3.0
async_timeout>=2.0,<4.0
asyncio>=3.4,<4.0
black
boto3
dash-bootstrap-components
dash==1.13.2
flake8
flake8-broken-line
flake8-bugbear
flake8-comprehensions
flake8-docstrings
flake8-eradicate
flake8-isort
flake8-pep3101
numpy
pandas
pre-commit
s3fs
sentry-sdk[flask]==0.15.1
uszipcode
